<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>Datelly - Home</title>
		
		<!-- bootstrap - link cdn -->
        <link rel="stylesheet" href="css/bootstrap-4.5.0.min.css">
        <link rel="stylesheet" href="css/dataTables.min.css">

        <script type="text/javascript" charset="utf8" src="js/jquery-3.5.1.min.js"></script>
        <script type="text/javascript" charset="utf8" src="js/bootstrap4.min.js"></script>
        <script type="text/javascript" charset="utf8" src="js/dataTables.min.js"></script>
      </head>
		<!-- estilo -->
        <!-- <link href="css/style.css" rel="stylesheet"> -->
        <style>
            .entryInfo{
                z-index: 4;
                position: absolute; 
                width: 70%;
            }
        </style>

        </style>
	</head>

	<body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
            <a class="navbar-brand" href="#">Logo</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Link</a> 
                </li>
            </ul>
        </nav>

        <hr>

        <form id="formInsert">
            <div class="form-group">
                <label for="newGoals">Nova Meta</label>
                <div class='row'>
                    <div class='col-6'>
                        <input type="text" class="form-control" id="newGoals" aria-describedby="emailHelp" placeholder="Insira uma nova meta">
                    </div>
            
                    <div class='col-3'>
                        <button type="button" class="btn btn-primary" id="saveGoal" >Salvar</button>
                    </div> 
                </div>
            </div>
        </form>
         
        <table id="table_id" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Meta</th>
                    <th>Criada Por</th>
                    <th>Data Conclusão</th>
                    <th>Data Criação</th> 
                    <th>#</th> 
                </tr>
            </thead> 
            <tfoot>
                <tr>
                    <th>id</th>
                    <th>Meta</th>
                    <th>Criada Por</th>
                    <th>Data Conclusão</th>
                    <th>Data Criação</th> 
                    <th>#</th> 
                </tr>
            </tfoot>
        </table> 
    </body>
</html> 
        <!-- <script src="/socket.io/socket.io.js"></script> -->
        
        <script>    
        
            // var socket = io('http://localhost/3000');

            // socket.on('sendEntrySystem', function(data){
            //     $('#entryInfo').text('');

            //     var html ="<p>"+ data.login+data.mensagem;+"</p>"
                 
            //     $('#entryInfo').append(html); 
                
            //     $('#entryInfo').show(4000);  
            //     $('#entryInfo').hide(5000);  
            // });  

            $(document).ready(function() {

               var table= $('#table_id').DataTable( {
                    "ajax": "getGoals",
                    "order":[0,'desc'],
                    "columns": [
                        { "data": "id" },
                        { "data": "rk_user_id" },
                        { "data": "name" },
                        { "data": "concluded" },
                        { "data": "created_at" }, 
                        { 
                            data: 'id',
                            render:  data => '<button type="button" value="'+data+'" class="btn btn-danger">Excluir</button>' 
                        }, 
                    ]
                });

                $("#saveGoal").click(function(){
                    $.ajax({
                        url: "/createGoals",
                        method: "POST",
                        data: { name : $("#newGoals").val() },
                        dataType: "html"
                    }).done(function(data) {
                        $('#table_id').DataTable().ajax.reload();
                        $('#newGoals').val(``);
                    }).fail(function() {
                        console.log('algo deu errado');
                    }); 
                });

                $("#table_id tbody").on( 'click', 'button', function () {
                    var dataRow = table.row( $(this).parents('tr') ).data();
                    
                    $.ajax({
                        url: "/deleteGoal", 
                        method: "POST",
                        data: {id : dataRow.id} ,
                        dataType: "text" 
                    }).done(function(data) { 
                        $('#table_id').DataTable().ajax.reload();
                    }).fail(function() { 
                    }); 
                });        
            }); 
        </script> 
    </body>
</html> 
